<div class="create-resource-container" *ngIf="display">
  <div *ngIf="domain === 'note'">
    <cms-smartform class='cms-smartform'
       [writebackMode]="'create'"
       [smartForm]='smartForm'>
    </cms-smartform>
  </div>
</div>