<div class="paging-control" [hidden]="totalPages < 1">
  <span class="control" (click)="changePage('first')"><i class="fa fa-angle-double-left"></i></span>
  <span class="control" (click)="changePage('previous')"><i class="fa fa-angle-left"></i></span>
  <span class="page-info">Page {{currentPage}} of {{totalPages}}</span>
  <span class="control" (click)="changePage('next')"><i class="fa fa-angle-right"></i></span>
  <span class="control" (click)="changePage('last')"><i class="fa fa-angle-double-right"></i></span>
</div>