.fa-angle-right.arrow-selector {
    padding-left: 30px;
}

a {
    display: inline-block;
    color: #004869;
}

.calendar-input {
    width: 90px;
}

.ui-button-icon-only {
    text-indent: 0!important; /* Calendar icon doesn't show up in date input without this override */
}

.ui-calendar-button {
    background: #004869!important;
    border: 1px solid #004869!important;
}