 <a (click)="clickArrow($event, 'left')" href="#">
        <i class="fa fa-angle-left fa-lg arrow-selector"></i>
    </a>
    <p-calendar [(ngModel)]="dateValue"
        showIcon="true"
        (onSelect)="onDateSelected()"
        (onBlur)="onDateSelected()"
        inputStyleClass="calendar-input"></p-calendar>
    <a (click)="clickArrow($event, 'right')"  href="#">
        <i class="fa fa-angle-right fa-lg arrow-selector"></i>
    </a>