.cms-smartform table {
	width: 100%;
}

.cms-smartform table>caption,
.cms-smartform table>tfoot {
	text-align: center;
	font-weight: bold;
}

.cms-smartform table>caption>*:first-child {
	display: block;
	font-size: 120%;	
}

.cms-smartform td {
	padding: 4px!important;
}

.cms-smartform tr>td:first-child {
	width: 66%;
}

.cms-smartform tfoot > tr > td > label:first-child {
	float: left;	
}

.cms-smartform tfoot > tr > td > label:last-child {
	float: right;	
}

.cms-smartform-choice-horz {
	display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
	
.cms-smartform-choice-horz > * {
	margin-right: 15px;
}

.cms-smartform-choice-vert {
	display: inline-flex;
	flex-direction: column;
  	text-align: left;
}
	
.cms-smartform-input {
	text-align: right;
}

.cms-smartform-input > * {
	margin-right: 15px;
}