<div>
    <ag-grid-angular id="{{uuid}}"
                     #agGrid style="width: 100%; height: 100px;box-sizing: border-box;" class="ag-fresh"
                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
    >
    </ag-grid-angular>
    <paging-control [hidden]="!useCustomPaging" #paging></paging-control>
</div>
