<table class='table-bordered' *ngIf='smartform; else empty'>
	<caption>
		<span [innerHtml]='smartform.title'></span>
		<span [innerHtml]='smartform.subtitle'></span>
	</caption>
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr cms-smartform-item *ngFor='let item of smartform.items' [item]='item' [responses]='responses' [final]='final'>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan='999'>
				<label [innerHtml]='smartform.copyright'></label>
				<label [innerHtml]='smartform.distribution'></label>
				<label [innerHtml]='smartform.license'></label>
			</td>
		</tr>
	</tfoot>
</table>
<div *ngIf="writebackMode">
	<div *ngIf="writebackMode === 'edit'">
		<button pButton *ngIf="!editMode" class="control-button control-button-primary" label="Edit" (click)="editForm()"></button>
	</div>
	<button pButton *ngIf="editMode || writebackMode === 'create'" class="control-button control-button-primary" label="Save" (click)="saveForm()"></button>
	<button pButton *ngIf="editMode || writebackMode === 'create'" class="control-button ui-button-secondary" label="Cancel" (click)="cancel()"></button>
</div>

<ng-template #empty>
	<label class='alert-danger text-center' style="width: 100%">No SmartForm selected.</label>
</ng-template>
