<div [class]='this.layout()'>
	<div *ngFor='let choice of item.options' title='{{choice.description}}'>
		<input type='radio' 
			name='{{item.question}}'
			value='{{choice.value}}' 
			(change)='changed($event)'
			[checked]='choice.id === response.id' 
			[readonly]='final'
			[disabled]='final'
			[attr.data-response-id]='choice.id'>
		<label [innerHtml]='choice.label'></label>
	</div>
</div>
