<ng-container [ngSwitch]='item.format'>
	<td>
		<label [innerHtml]='item.label'></label> 
		<span [innerHtml]='item.units ? "(" + item.units + ")" : ""'></span>
		<p [innerHtml]='item.description'></p>
	</td>
	<td class='cms-smartform-input' cms-smartform-choice *ngSwitchCase='"choice"'></td>
	<td class='cms-smartform-input' cms-smartform-number *ngSwitchCase='"number"'></td>
	<td class='cms-smartform-input' cms-smartform-computed *ngSwitchCase='"computed"'></td>
	<td *ngSwitchDefault>Unknown item type: {{item.format}}</td>
</ng-container>
