<div class="row">
  <div class="col-xs-12">
    <span><strong>{{title}}</strong></span>

    <div *ngIf="contentType==='HTML'" [innerHTML]="narrative"></div>
    <div *ngIf="contentType!=='HTML'">{{narrative}}</div>
  </div>
</div>