.filter-button-wrapper {
    float: left;
}

.secondary-filter-wrapper {
    float: right;
}

.secondary-filter-wrapper span {
    margin-right: 5px;
}

#secondaryFilter {
    width: 105px;
}

.secondary-filter {
    width: 105px!important;
}

.button-group .ui-button.ui-state-active {
    font-weight: bold;
    font-size: 1.05em;
    color: #454545!important;
    outline: 0;
}

.button-group .ui-button.ui-state-active:focus {
    outline: 0;
    border: 0!important;
}

.button-group .ui-button {
    background: transparent!important;
    border-left: 0!important;
    border-top: 0!important;
    border-bottom: 0!important;
    border-right: 1px solid #454545!important;
    text-transform: uppercase;
    font-size: .9em;
}

.button-group .ui-button:last-of-type {
    border: 0!important;
}