<div class="data-filter">
  <div class="filter-button-wrapper">
  <p-selectButton
          class="button-group"
            [options]="buttons"
            [(ngModel)]="selectedButton"
            (onChange)="buttonClicked($event)">
  </p-selectButton>
  </div>

  <div class="secondary-filter-wrapper" *ngIf="secondaryDropdownConfig">
    <span>{{secondaryDropdownConfig.label}}</span>
    <p-dropdown
            name="secondaryFilter"
            id="secondaryFilter"
            [options]="secondaryDropdownConfig.options"
            [(ngModel)]="selectedSecondaryOption"
            [styleClass]="'secondary-filter'"
            (onChange)="secondaryOptionSelected($event)"
    >
    </p-dropdown>
  </div>
</div>