master-detail .lower {
    height: 100%;
}

master-detail .upper {
    height: calc(100% - 31px);
}

master-detail horizontal-split-pane {
    display: block;
    height: calc(100% - 90px); /* Subtract height of date picker and button filter rows */
}

master-detail .master-detail-title {
    margin-bottom: 20px;
    margin-top: 2px;
    margin-right: 50px;
}

master-detail .button-group-container {
    padding-top: 10px;
    margin-left: 0;
}

master-detail .master-detail-title, master-detail button-group {
    float: left;
}

master-detail .date-selection-container {
    text-align: center;
    margin-bottom: 10px;
}

master-detail label {
    font-weight: normal !important;
}

master-detail .ag-cell-last-left-pinned{
    border-right-width: 2px !important;
}

master-detail .create-button {
    margin: 0;
    float: right;
    background: #004869!important;
    border: 1px solid #004869!important;
    color: #FFFFFF!important;
}

master-detail .ui-state-default a, master-detail .ui-state-default a:link, master-detail .ui-state-default a:visited, master-detail a.ui-button, master-detail a:link.ui-button, master-detail a:visited.ui-button, master-detail .ui-button {
    text-decoration: none;
}