<div class="row">
  <div class="col-xs-12 date-selection-container" *ngIf="config.sections.header.dateSelection">
    <date-selection #dateSelection></date-selection>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 button-group-container" *ngIf="config.sections.header.filterButtons">
    <h4 class="master-detail-title" *ngIf="config.sections.header.title">{{config.sections.header.title}}</h4>
    <data-filter [buttons]="config.sections.header.filterButtons" [secondaryDropdownConfig]="config.sections.header.secondaryDropdownConfig"></data-filter>
  </div>
</div>
<horizontal-split-pane>
    <div class="split-pane-content-primary">
      <div class="upper">
        <div class="row" [style.height]="config.sections.createButton ? 'calc(100% - 25px)' : 'calc(100% - 1px)'">
          <div class="col-xs-12">
            <grid class="selectable-rows" #grid></grid>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button *ngIf="config.sections.createButton" class="create-button" pButton label="{{config.sections.createButton.label}}" (click)="createNewItem()"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="split-pane-content-secondary">
      <div class="lower container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <create-resource #createResource [hidden]="!createModeEnabled"></create-resource>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p-tabView *ngIf="config.sections.details.tabs" [hidden]="createModeEnabled" #detailPanel [activeIndex]="detailSelectedIndex">
              <p-tabPanel *ngFor="let t of config.sections.details.tabs; let i = index" [header]="t.label" [selected]="i === detailSelectedIndex">
                <div #dynDiv class="dynDiv-{{i}}"></div>
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
      </div>
    </div>
  </horizontal-split-pane>
