<!-- Section for when the plugin is displaying multiple attachments -->
<accession-detail [accessionId]="accession.id" [accessionDate]="accession.date" ></accession-detail>
<div class="row bottom-margin-10">
  <div class="col-xs-6"><strong>Diagnostic Code(s): {{diagnosticCodes}}</strong></div>
</div>
<div *ngIf="getMode() === MODE_MULTI; else singleBlock ">
  <grid #attachmentsGrid class="attachments-grid"></grid>
  <p-lightbox type="content">
    <a #lightboxContentLink class="group hidden" href="#"></a>
    <object #lightboxDataContent width="560" height="500" data="" type=""></object>
  </p-lightbox>

  <p-lightbox type="content">
    <a #lightboxImageLink class="group hidden" href="#"></a>
    <img #lightboxImageContent src="" width="560" height="315"/>
  </p-lightbox>
</div>
<!-- Section for when the plugin is displaying a single attachment -->
<ng-template #singleBlock>
  <div *ngIf="attachments && attachments.length > 0; else emptyAttachment">
    <div class="single-title">{{attachments[0].title}} </div>
    <div class="single-content">{{attachments[0].content}} </div>
  </div>
  <ng-template #emptyAttachment>
    <div class="single-empty">No Attachment Found</div>
  </ng-template>
</ng-template>
